VITE_APPWRITE_URL="TEST ENVIROMENT"
VITE_APPWRITE_PROJECT_ID="TEST ENVIROMENT"
VITE_APPWRITE_DATABASE_ID="TEST ENVIROMENT"
VITE_APPWRITE_COLLECTION_ID="TEST ENVIROMENT"
VITE_APPWRITE_BUCKET_ID="TEST ENVIROMENT"